use_default_settings: true
server:
  secret_key: searxngsecret  
  limiter: false 
  image_proxy: true
ui:
  static_use_hash: true
  default_theme: simple
redis:
  url: redis://redis-on-hstgr:6379
search:
  formats:
    - html
    - json
    - rss
